h1, h2, h3, h4, h5, h6, p {
    margin: 0px, 0px, 0px, 0px;
}

ul, ol {
    margin: 0px, 0px, 0px, 0px;
    padding-left: 0px;
    list-style-type: none;
}

img {
   display: block; 
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.nav {
    display: flex;
    align-items: center;
}


.full-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-second {
    color: #2e2f42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.menu {
    display: flex;
    gap: 40px;

}

.link-navi {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 16px;
    text-decoration: none;
    padding: 24px 0 24px;
}

.link-navi:active {
    color: #404BBF;
    text-decoration: underline;
}

.link-navi:hover, .link-navi:focus {
    color:#404bbf;
}

.adress-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: flex;
    gap: 40px;
}

.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact:hover, .contact:focus {
    color: #404bbf;
}

.main-info {
    background-color: #2E2F42;
    padding: 188px 0;
    
}

.main-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 700;
    max-width: 496px;
}

.main-container {
    max-width: 496px;
    margin: 0 auto;
}

.service-button {
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.service-button:hover, .service-button:focus {
    background-color: #404BBF;
}

.description {
    padding: 120px 0 120px;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
} */

.description-list {
    display: flex;
    gap: 24px;
}

.description-elements {
    margin-right: 24px;

}
.description-header {
    width: calc((100% - 72px) / 4);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
}

.description-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}

.our-team {
    background-color: #F4F4FD;
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-members {
    background-color: #ffffff;
}

.member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.member-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}

.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.product-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
   background-color: #2e2f42;
}

.footer-description {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}

.logo-second-footer {
    color: #f4f4fd;
}